! ██╗░░██╗██████╗░███████╗███████╗░██████╗░██╗░░░██╗██████╗░░██████╗███████╗███████╗
! ╚██╗██╔╝██╔══██╗██╔════╝██╔════╝██╔═══██╗██║░░░██║██╔══██╗██╔════╝██╔════╝██╔════╝
! ░╚███╔╝░██████╔╝█████╗░░███████╗██║░░░██║██║░░░██║██████╔╝██║░░░░░█████╗░░███████╗
! ░██╔██╗░██╔══██╗██╔══╝░░╚════██║██║░░░██║██║░░░██║██╔══██╗██║░░░░░██╔══╝░░╚════██║
! ██╔╝░██╗██║░░██║███████╗███████║╚██████╔╝╚██████╔╝██║░░██║╚██████╗███████╗███████║
! ╚═╝░░╚═╝╚═╝░░╚═╝╚══════╝╚══════╝░╚═════╝░░╚═════╝░╚═╝░░╚═╝░╚═════╝╚══════╝╚══════╝
!
! -----------------------------------
Xft.dpi: 102
!Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: false
Xft.hintstyle: hintfull
Xft.lcdfilter: lcddefault

xcursor.theme:            Vanilla-DMZ
xscreensaver.fade:   false
xscreensaver.unfade: false
! ===== urxvt =====
URxvt.scrollBar: off
URxvt.font: xft:monospace:size=12
URxvt.internalBorder:     22
! =================
! ===== xst =======
st.shell: /bin/zsh
st.font: monospace:pixelsize=14:antialias=true:autohint=true
st.opacity: 204
! =================
!*background:	#1D1F28
!*foreground:	#FDFDFD
!*cursorColor:	#C574DD
!*color0:	#282A36
!*color1:	#F37F97
!*color2:	#5ADECD
!*color3:	#F2A272
!*color4:	#8897F4
!*color5:	#C574DD
!*color6:	#79E6F3
!*color7:	#FDFDFD
!*color8:	#414458
!*color9:	#FF4971
!*color10:	#18E3C8
!*color11:	#FF8037
!*color12:	#556FFF
!*color13:	#B043D1
!*color14:	#3FDCEE
!*color15:	#BEBEC1
*background:  #282a36
*foreground:  #e2e4e5
*color0:  #34353e
*color1:  #ff5c57
*color2:  #5af78e
*color3:  #ff9f43
*color4:  #57c7ff
*color5:  #ff6ac1
*color6:  #9aedfe
*color7:  #eff0eb
*color8:  #43454f
*color9:  #ff5c57
*color10:  #5af78e
*color11:  #f3f99d
*color12:  #57c7ff
*color13:  #ff6ac1
*color14:  #9aedfe
*color15:  #f1f1f0